<link rel="stylesheet" href="css/main-mobile.css" />

<div id="app">
    <van-nav-bar v-if="nav.showNav" :title="nav.title" :left-text="nav.leftText" :right-text="nav.rightText"
        :left-arrow="nav.leftArrow" :placeholder="nav.placeholder" :fixed="nav.fixed" @click-left="onClickLeft"
        @click-right="onClickRight">
        <template #left>
            <van-icon v-if="nav.leftIcon" :name="nav.leftIcon" size="18" />
        </template>
        <template #right>
            <van-icon v-if="nav.rightIcon" :name="nav.rightIcon" size="18" />
        </template>
    </van-nav-bar>
    <van-search v-if="nav.showSearch" v-model="nav.searchVal" show-action placeholder="请输入搜索关键词" @search="onSearch"
        @cancel="onSearchCancel"></van-search>
    <transition name="van-slide-left">
        <van-row>
            <van-col :span="bar.show?8:0">
                <van-sidebar v-if="bar.show" v-model="bar.currPage" @change="onPageChange">
                    <template v-for="item in bar.items">
                        <van-sidebar-item :disabled="item.disabled" :url="item.url" :dot="item.dot" :badge="item.badge"
                            :title="item.title"></van-sidebar-item>
                    </template>
                </van-sidebar>
            </van-col>
            <van-col :span="bar.show?16:24">
                <template v-if="bar.currPage=='0'">
                    <van-pull-refresh v-model="content.pullLoading" success-text="刷新成功" @refresh="onRefresh">
                        <div ref="contentList" 
                        :style="{height:content.height +'px','overflow-y':'scroll','box-sizing': 'border-box','padding-bottom':'80px'}"
                        >
                            <van-list v-model="content.contentLoading" :finished="content.finished"
                                finished-text="没有更多了" @load="onContentLoad">
                                <van-cell style="border: none;" v-for="item in content.data">
                                    <div class="content-card">
                                        <van-skeleton title avatar :row="3" :loading="item.loading">
                                            <van-row align="center" gutter="20">
                                                <van-col span="4">
                                                    <van-icon size="1.5rem" :color="content.iconColor"
                                                        :name="item.icon">
                                                    </van-icon>
                                                </van-col>
                                                <van-col span="16">
                                                    <div class="van-ellipsis">
                                                        <b>{{item.title}}</b>
                                                    </div>
                                                </van-col>
                                                <van-col @click="popContentDetial(item)" span="4">
                                                    <van-icon size="1.5rem" color="#1989fa" name="weapp-nav"></van-icon>
                                                </van-col>
                                            </van-row>
                                            <template v-for="content in item.content">
                                                <van-row align="center" gutter="20">
                                                    <van-col span="10">
                                                        <div class="van-ellipsis">
                                                            <i>{{content.key}}</i>
                                                            <template v-for="tag in content.tags">
                                                                <span>&nbsp;</span>
                                                                <van-tag :type="tag.type">{{tag.tag}}</van-tag>
                                                            </template>
                                                        </div>
                                                    </van-col>
                                                    <van-col span="14">
                                                        <!-- <div class="van-multi-ellipsis--l2">{{content.val}}</div> -->
                                                        <div class="van-ellipsis">{{content.val}}</div>
                                                    </van-col>
                                                </van-row>
                                            </template>
                                            <van-row align="center" gutter="20">
                                                <van-col span="10"><i>时间</i>
                                                </van-col>
                                                <van-col span="14">{{item.datetime}}
                                                </van-col>
                                            </van-row>
                                        </van-skeleton>
                                    </div>
                                </van-cell>
                            </van-list>
                        </div>
                    </van-pull-refresh>
                    <transition name="van-slide-up">
                        <div class="float-button" @click="addNewItem" v-if="content.showFloatButton">
                            <div style="margin-top:0.5rem">
                                <van-icon name="plus" color="white" size="2rem"></van-icon>
                            </div>
                        </div>
                    </transition>
                </template>
                <!-- 记录 -->
                <template v-if="bar.currPage=='1'">
                </template>
                <!-- 计划 -->
                <template v-if="bar.currPage=='2'">

                </template>
                <!-- 统计 -->
                <template v-if="bar.currPage=='3'">

                </template>
                <!-- 设置 -->
                <template v-if="bar.currPage=='4'">

                </template>
                <!-- 同步 -->
                <template v-if="bar.currPage=='5'">

                </template>
                <!-- 帮助 -->
                <template v-if="bar.currPage=='6'">

                </template>
                <!-- 关于 -->
                <template v-if="bar.currPage=='7'">

                </template>

            </van-col>
        </van-row>
    </transition>
    <!-- 开启 safe-area-inset-bottom 属性 -->
    <van-number-keyboard safe-area-inset-bottom></van-number-keyboard>
</div>
<script type="text/javascript" src="js/main-mobile.js"></script>